<nav class="navbar navbar-expand navbar-dark navbar-fixed-top", style="background-color: #3eb03a;">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "カメラ&レンズのレビュー総集", root_path, class: "navbar-brand" %>
    </div>
    <% if user_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "トップページ", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"  %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "トップページ", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>
    </div>
  </nav>